{% extends 'base.html' %}

{% block title %} | Cart {% endblock %}
{% block content %}

{% load humanize %}
{% load custom_filters %}

<div class="container-fluid bg-light py-5">
    <div class="container">
        <h1 class="mb-4">Cart</h1>

        {% if items %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.product_title }}</td>
                            <td>
                                <form action="{% url 'update_cart' item.product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control">
                                    <button type="submit" class="btn btn-primary mt-2">Update</button>
                                </form>
                            </td>
                            <td>$ {{ item.product.price | intcomma }}</td>
                            <td>$ {{ item.total_price | intcomma }}</td>
                            <td>
                                <form action="{% url 'remove_from_cart' item.product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if cart.items.all %}
            <form action="{% url 'apply_coupon' %}" method="post" class="mt-4">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="coupon_code" placeholder="Coupon Code">
                    <button type="submit" class="btn btn-success">Apply</button>
                </div>
            </form>
            {% endif %}

            <h3 class="mt-4">Total Price: ${{ total_price | intcomma }}</h3>
            <a href="{% url 'checkout' %}" class="btn btn-primary mt-4">Proceed to Checkout</a>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
