{% extends 'base.html' %}

{% load i18n %}

{% block title %} | {% trans block.super %} {% trans "Payment Cancelled" %} {% endblock %}
{% block content %}

<div class="container-fluid bg-light py-5">
    <div class="container">
        <h1 class="mb-4">{% trans "Payment Cancelled" %}</h1>
        <p>{% trans "Your payment was cancelled. If you need assistance, please contact support" %}.</p>
        <a href="{% url 'payment' %}" class="btn btn-primary">{% trans "Try Again" %}</a>
    </div>
</div>

{% endblock %}
