{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %} | {% trans block.super %} {{single_team.first_name}} {{single_team.last_name}} {% endblock %}
{% block content %}

<!--  ************************* Page Title Starts Here ************************** -->
  <div class="page-nav no-margin row">
      <div class="container">
          <div class="row">
              <h2 class="text-start">{{single_team.first_name}} {{single_team.last_name}}</h2>
              <ul>
                  {% if request.GET.source == 'home' %}
                      <li> <a href="{% url 'home' %}"><i class="bi bi-house-door"></i> {% trans "Home" %}</a></li>
                  {% elif request.GET.source == 'about' %}
                      <li> <a href="{% url 'home' %}"><i class="bi bi-house-door"></i> {% trans "Home" %}</a></li>
                      <li> <a href="{% url 'about' %}"><i class="bi bi-chevron-double-right pe-2"></i><i class="bi bi-info-circle"></i> About</a></li>
                  {% else %}
                      <li> <a href="{% url 'home' %}"><i class="bi bi-house-door"></i> {% trans "Home" %}</a></li>
                  {% endif %}
                  <li><i class="bi bi-chevron-double-right pe-2"></i> {% trans "Teams" %}</li>
                  <li><i class="bi bi-chevron-double-right pe-2"></i> {{single_team.first_name}} {{single_team.last_name}}</li>
              </ul>
          </div>
      </div>
  </div>

  <div class="container d-flex justify-content-center">
    <div class="col-lg-8 col-md-10 mb-4">
     <div class="serv-cove shadow-md rounded bg-white p-3">
          <div class="prf row mb-3 text-center">
            <div class="col-12 mb-3">
                  <img class="rounded-pill" src="{{single_team.photo.url}}" alt="{% trans 'Profile Picture' %}" style="max-width: 300px; height: auto;">
              </div>
              <div class="col-12">
                  <h6 class="mb-0 fw-bolder">{{single_team.first_name}} {{single_team.last_name}}</h6>
                  <span>{{single_team.designation}}</span>
                  <div class="d-flex justify-content-center mt-2">
                      <a href="{{single_team.facebook_link}}" target="_blank" class="facebook-bg-big"><i class="fa fa-facebook"></i></a>
                      <a href="{{single_team.twitter_link}}" target="_blank" class="twitter-bg-big"><i class="fa fa-twitter"></i></a>
                      <a href="{{single_team.google_plus_link}}" target="_blank" class="google-bg-big"><i class="fa fa-google"></i></a>
                  </div>
              </div>
          </div>
          <div class="det text-center">
              <div id="text_completed" style="text-align: justify;">{{single_team.description | truncate_lines:100 | safe}}</div>
          </div>
     </div>
  </div>
</div>
{% endblock %}
