{% extends 'base.html' %}

{% block title %} | Products {% endblock %}
{% block content %}

{% load static %}

<!--  ************************* Page Title Starts Here ************************** -->
 <div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2 class="text-start">Products</h2>
            <ul>
                <li> <a href="{% url 'home' %}"><i class="bi bi-house-door"></i> Home</a></li>
                <li><i class="bi bi-chevron-double-right pe-2"></i> Products</li>
            </ul>
        </div>
    </div>
</div>

<!-- ******************** About US Starts Here ******************* -->
<div class="container-fluid products big-padding px-3 bg-honey">
   <div class="container-xl">
       <div class="row">



         {% for product in products %}
         <div class="col-lg-3 col-md-4 mb-4">
             <a href="{% url 'product_detail' product.id %}?source=products">
                 <div class="product bg-white p-4 text-center shadow-md">
                     <img src="{{ product.product_photo.url }}" alt="{{ product.name }}">
                     <div class="d-inline-block">
                         <h4 class="fw-bolder fs-5 mt-4">{{ product.product_title }}</h4>
                         <span class="fw-bolder fs-4">${{ product.price }}</span>
                         {% if product.old_price %}
                             <span class="text-muted text-decoration-line-through">${{ product.old_price }}</span>
                         {% endif %}
                     </div>
                     <div class="d-inline-block mt-3">
                         <button class="btn btn-primary px-5">Buy Now</button>
                     </div>
                 </div>
             </a>
         </div>
         {% endfor %}




       </div>
   </div>
</div>

{% endblock %}
