#text_continue {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em; /* یا هر مقداری که مناسب باشد */
    max-height: 6em; /* خط * 4 می‌شود */
    text-align: justify;
}

.read-more {
    display: block;
    margin-top: 10px;
    color: #007bff; /* رنگ لینک */
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

#text_continue p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}



#text_completed p {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* یا هر مقدار دیگری که مناسب باشد */
}

#text_completed {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* یا هر مقدار دیگری که مناسب باشد */
}



.facebook-bg, .twitter-bg, .google-bg {
    background: #00000080;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    text-align: center;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.facebook-bg-big, .twitter-bg-big, .google-bg-big {
    background: #00000080;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center; /* مرکز کردن عمودی */
    justify-content: center; /* مرکز کردن افقی */
    font-size: 22px; /* اندازه آیکون‌های بزرگ (دو برابر اندازه کوچک) */
}

.facebook-bg:hover, .facebook-bg-big:hover {
    background: #3b589e;
    color: #fff;
}

.twitter-bg:hover, .twitter-bg-big:hover {
    background: #33CCFF;
    color: #fff;
}

.google-bg:hover, .google-bg-big:hover {
    background: #db4437;
    color: #fff;
}

.d-none {
    display: none;
}


#prev-btn, #next-btn {
    background-color: white; /* رنگ پس‌زمینه سفید */
    border: 1px solid red; /* رنگ قرمز برای حاشیه */
    border-radius: 0; /* گوشه‌های تیز */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه */
    padding: 10px 20px; /* فاصله داخلی */
    margin: 0;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* انتقال برای تغییر رنگ */
}

#prev-btn {
    border-top-left-radius: 5px; /* گوشه گرد سمت چپ بالا */
    border-bottom-left-radius: 5px; /* گوشه گرد سمت چپ پایین */
}

#next-btn {
    border-top-right-radius: 5px; /* گوشه گرد سمت راست بالا */
    border-bottom-right-radius: 5px; /* گوشه گرد سمت راست پایین */
}

#prev-btn i, #next-btn i {
    font-size: 16px; /* اندازه فونت */
    color: red; /* رنگ قرمز برای آیکون‌ها */
}

#prev-btn:hover, #next-btn:hover {
    background-color: red; /* تغییر رنگ پس‌زمینه به قرمز هنگام هاور */
    color: white; /* تغییر رنگ متن به سفید هنگام هاور */
}

#prev-btn:hover i, #next-btn:hover i {
    color: white; /* تغییر رنگ آیکون‌ها به سفید هنگام هاور */
}

#prev-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.facilities-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* فاصله بین تگ‌ها */
  justify-content: space-between; /* هم‌راستا کردن تگ‌ها در هر سطر */
}

.facilities-list li {
  flex: 1 1 auto; /* تنظیم اندازه ستون‌ها براساس متن داخل تگ‌ها */
  padding: 5px 10px;
  font-weight: 500;
  font-size: 15px;
  border: solid 1px #e2e0e0;
  border-radius: 3px;
  background-color: #f8f9fa; /* رنگ پس‌زمینه می‌تواند تغییر کند */
  text-align: center; /* هم‌راستا کردن متن داخل تگ‌ها به مرکز */
  white-space: nowrap; /* جلوگیری از شکستن خطوط */
  overflow: hidden; /* مخفی کردن متن اضافی */
  text-overflow: clip; /* مخفی کردن متن اضافی بدون اضافه کردن سه نقطه */
}

.facilities-list .empty-tag {
  flex: 1 1 auto; /* تنظیم اندازه تگ‌های خالی به اندازه تگ‌های اصلی */
  border: none; /* حذف حاشیه */
  background-color: transparent; /* حذف رنگ پس‌زمینه */
  padding: 0; /* حذف پدینگ */
  margin: 0; /* حذف مارجین */
  height: 1px; /* یا هر مقدار دیگری برای تنظیم ارتفاع تگ خالی */
  visibility: hidden; /* یا استفاده از display: none; برای حذف از صفحه */
}


.advanced-search .checkbox {
    padding-left: 5px;
    margin-bottom: 5px;
}



/** Contact-section start **/
.contact-section {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.contact-section .bg-img {

    background-size: cover;
    top: 0;
    bottom: 0;
    border-radius:0 20px 20px 0;
    opacity: 1;
    width: 100%;
    z-index: 999;
    min-height: 496px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.contact-section .form-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.contact-section .form-section p{
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
}

.contact-section .form-section p a{
    font-weight: 400;
    color: #535353;
}

.contact-section .form-section .extra-login {
    float: left;
    width: 100%;
    margin: 25px 0 25px;
    text-align: center;
    position: relative;
}

.contact-section .form-section .extra-login::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 1px;
    background: #d8dcdc;
    content: "";
}

.contact-section .form-section .extra-login > span {
    width: auto;
    float: none;
    display: inline-block;
    background: #fff;
    padding: 1px 20px;
    z-index: 1;
    position: relative;
    font-family: Open Sans;
    font-size: 13px;
    color: #616161;
    text-transform: capitalize;
}

.contact-section .form-section ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.contact-section .form-section .social-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.contact-section .logo-2 img{
    margin-bottom: 5px;
    height: 45px;
}

.contact-section .form-section .social-list li a {
    font-size: 12px;
    font-weight: 600;
    width: 120px;
    margin: 2px 0 3px 0;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.contact-section .form-section .social-list li a i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    float: left;
    border-radius: 3px;
}

.contact-section .form-section .social-list li a span{
    margin-right: 7px;
    color: #fff;
}

.contact-section .form-section .thembo{
    margin-left: 4px;
}

.contact-section .form-section h3 {
    margin: 0 0 25px;
    font-size: 22px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}

.contact-section .form-section .form-group {
    margin-bottom: 20px;
}

.contact-section .form-section .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.contact-section .form-section .form-box input {
    float: left;
    width: 100%;
    padding: 10px 20px 11px 50px;
    border-radius: 3px;
}

.contact-section .form-section .form-box .fa-user {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #717171;
    font-size: 19px;
}

.contact-section .form-section .input-text {
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    background: transparent;
    outline: 0;
    color: #717171;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.contact-section .form-section .form-box i {
    position: absolute;
    top: 11px;
    left: 20px;
    color: #717171;
    font-size: 19px;
}

.contact-section .form-section .checkbox .terms{
    margin-left: 3px;
}

.contact-section .form-section .btn-md {
    cursor: pointer;
    padding: 14.5px 50px 13.5px 50px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
}

.contact-section .form-section input[type=checkbox], input[type=radio] {
    margin-right: 3px;
}

.contact-section .form-section button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.contact-section .form-section .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.contact-section .form-section .btn-theme {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
}

.contact-section .form-section .btn-theme:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.contact-section .none-2{
    display: none;
}

.contact-section .logo{
    top: 40px;
    position: absolute;
    left: 65px;
}

.contact-section .form-section .terms{
    margin-left: 3px;
}

.contact-section .form-section a.forgot-password {
    font-size: 15px;
    float: right;
    line-height: 50px;
}

/** Social media **/
.contact-section .facebook-bg {
    background: #4867aa;
    color: #fff;
}

.contact-section .twitter-bg {
    background: #33CCFF;
    color: #fff;
}

.contact-section .google-bg {
    background: #db4437;
    color: #fff;
}

.contact-section .google-i {
    background: #c3291c;
}

.contact-section .facebook-i {
    background: #3b589e;
}

.contact-section .twitter-i {
    background: #0cace0;
}

@media (max-width: 500px) {
    .contact-section .form-section .social-list li a i {
        display: none;
    }

    .contact-section .form-section .social-list li a {
        width: 100px;
    }
}
/** Login 2 end **/

/** Sidebar widget start **/
.sidebar-right {
    margin: 0 0 30px 0;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.sidebar-left {
    margin: 0 0 30px 0;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.widget {
    padding: 30px 20px;
    border-bottom: solid 1px #efefef;
}

.widget-2 {
    margin-bottom: 40px;
    padding: 30px 20px;
}

.widget-2 .m-border{
    margin-bottom: 20px;
}

.widget-3 {
    border-bottom: none;
}

.single-block {
    margin-bottom: 30px;
}

.sidebar-title {
    font-size: 22px;
    position: relative;
    margin: 0 0 25px;
    font-weight: 400;
    color: #212121;
}

.sidebar .search-box {
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
}

.form-search {
    position: relative;
}

.form-search .form-control {
    box-shadow: none;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    border-radius: 3px;
    height: 45px;
}

.form-search .btn {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px 9px 13px;
}

.form-search .btn:active,
.form-search .btn:focus {
    box-shadow: none;
    outline: none;
}

.form-search .btn i {
    color: #777;
}

.form-search .form-group, .form-search .form-control {
    width: 100%;
}



    .search-area-3 .inline-search-area .bootstrap-select button {
        padding: 5px 15px 5px 15px;
        border-right: none!important;
    }

    .search-area-3 .inline-search-area .dropdown-toggle::after {
        top: 22px;
    }

    .search-area-3 .search-fields {
        min-height: 40px;
    }

    .search-area-3 .inline-search-area .search-col .form-control, .inline-search-area button.btn-search {
        margin-bottom: 0;
        padding: 0;
        font-size: 14px;
    }


    .search-area-inner {
        margin: 0 -15px;
    }

    .search-box-3 .search-area-inner {
        margin: 0;
    }

    .search-contents .col-xs-12,
    .search-contents .col-xs-6 {
        padding: 3px 10px;
    }

    .search-box .form-group {
        margin-bottom: 0;
    }



a.nav-link.active{
  color: #f0151f !important;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #fff !important;
}

/* CSS برای افکت محو شدن به آرامی */
.alert .fade {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.alert .fade .show {
  opacity: 1;
}

.alert .fade .hide {
  opacity: 0;
}





.aclass {
    font-size: 1rem !important; /* کاهش سایز فونت */
}



.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 0.5rem; /* فاصله بین چک باکس و برچسب */
}

/* برای اطمینان از عدم اضافه شدن تیک به متن */
.form-check-label::before {
    content: none; /* حذف هرگونه محتوای اضافی پیش‌فرض */
}

.badge.bg-success {
    background-color: #28a745;
}
.badge.bg-danger {
    background-color: #dc3545;
}















/* استایل برای جدول */
.custom-table {
    width: 100%;
    border-collapse: collapse; /* برای حذف فاصله‌های بین سلول‌ها */
    margin: 20px 0; /* فاصله بالایی و پایینی */
}

/* استایل برای سربرگ جدول */
.custom-table th {
    background-color: #f5f5f5; /* رنگ پس‌زمینه برای سربرگ‌ها */
    padding: 10px; /* فاصله درون سربرگ‌ها */
    text-align: left; /* تراز کردن متن به سمت چپ */
    border: 1px solid #ddd; /* حاشیه نازک برای سلول‌های سربرگ */
}

/* استایل برای سلول‌های جدول */
.custom-table td {
    padding: 10px; /* فاصله درون سلول‌ها */
    border: 1px solid #ddd; /* حاشیه نازک برای سلول‌ها */
}
