{% load i18n %}
{% load static %}

<!-- Footer start -->
<footer>
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 foot-about">
                    <h4>{% trans "About US" %}</h4>

                    <p>{% trans "Our company is dedicated to the art of honey production, bringing you the finest honey from the most pristine environments. " %}</p>

                    <ul>
                        <li>{% trans "23 Rose Stren Melbourn" %}</li>
                        <li>{% trans "sales@smarteyeapps.com" %}</li>
                        <li>{% trans "+91 876 766 554" %}</li>
                    </ul>
                </div>

                <div class="col-md-3 foot-post">
                    <h4>{% trans "Latest Posts" %}</h4>

                    <div class="post-row">
                        <div class="image">
                            <img src="{% static 'images/blog/b4.jpg' %}" alt="">
                        </div>
                        <div class="detail">
                            <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit " %}</p>
                        </div>
                    </div>

                    <div class="post-row">
                        <div class="image">
                            <img src="{% static 'images/blog/b3.jpg' %}" alt="">
                        </div>
                        <div class="detail">
                            <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit " %}</p>
                        </div>
                    </div>

                    <div class="post-row">
                        <div class="image">
                            <img src="{% static 'images/blog/b2.jpg' %}" alt="">
                        </div>
                        <div class="detail">
                            <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit " %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 foot-services">
                    <h4>{% trans "Top Category" %}</h4>

                    <ul>
                        <li><a href="">{% trans "Target Statergy" %}</a></li>
                        <li><a href="">{% trans "Web Analytics" %}</a></li>
                        <li><a href="">{% trans "Page Monitering" %}</a></li>
                        <li><a href="">{% trans "Page Optimization" %}</a></li>
                        <li><a href="">{% trans "Target Statergy" %}</a></li>
                        <li><a href="">{% trans "Email Marketing" %}</a></li>
                    </ul>
                </div>

                <div class="col-md-3 foot-news">
                    <h4>{% trans "News Letter" %}</h4>
                    <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, vehicula eget eros. " %}</p>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control mb-0" placeholder="{% trans 'Recipient\'s username' %}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text bg-primary" id="basic-addon2"><i class="bi text-white bi-send"></i></span>
                        </div>
                    </div>

                    <ul>
                        <li><i class="bi bi-facebook"></i></li>
                        <li><i class="bi bi-twitter"></i></li>
                        <li><i class="bi bi-instagram"></i></li>
                        <li><i class="bi bi-linkedin"></i></li>
                        <li><i class="bi bi-pinterest"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy">
    <div class="container">
        <a href="https://www.smarteyeapps.com/">{% trans "2022 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps.com" %}</a>

        <span>
            <a href=""><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-google"></i></a>
            <a href="https://in.pinterest.com/prabnr/pins/"><i class="bi bi-pinterest"></i></a>
            <a href="https://twitter.com/prabinraja89"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/freewebtemplatesbysmarteye"><i class="bi bi-facebook"></i></a>
        </span>
    </div>
</div>
<!-- Footer end -->
